.bg-dark {
    background-color: #12002b;
}
/* modif css*/
.centerElement {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ============ */
.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    padding: 2rem;
}

.sign-in-icon {
    font-size: 5rem;
}